.checkout-page-title {
  margin: 1em 0em 0em 0em;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.title-text {
  width: 100px;
  font-size: 1.2em;
  text-align: center;
}

.checkout-section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 3em;
}

.customer-information {
  width: 50%;
}

.customer-information>div {
  margin: 3em 3em;
}

.payment-details {
  width: 50%;
}

.payment-details>div {
  margin: 3em 3em;
}

.customer-state-pincode {
  display: flex;
  justify-content: space-between;
}

.customer-state-pincode div {
  width: 45%;
}

.country-name div {
  margin-bottom: 5%;
}

.check-box-clicked {
  display: none;
}

.input-field {
  position: relative;
  width: 78%;
}


label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: grey;
  transition: 0.2s;
  cursor: text;
}

input {
  width: 100%;
  border: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid gray;
  box-shadow: none;
  color: #111;

}

.bar-animation {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: red;
  transition: 1s;
}

.input-text:focus~.bar-animation {
  width: 100%;
  left: 0%;
}

input:focus~label,
input:valid~label {
  top: -24px;
  font-size: 14px;
  font-weight: bold;
  left: 0;
  color: black;

}

.billing-addresss-checkbox input {
  width: 5%;
}

.country-name div {
  width: 100%;
}

.card-details div {
  margin-bottom: 4%;
}

.card-expiry-date {
  display: flex;
  justify-content: space-between;
}

.card-expiry-date div {
  width: 30%;
}

.card-expiry-date input {
  padding: 3% 0%;
}

.order-summary div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.button {
  background: transparent;
  padding: 3%;
  width: 50%;
  font-size: 1em;
  text-align: center;
  border: 2px solid black;
}

select {
  border: 0;
  background: transparent;
  width: 100%;
  padding: 3% 0%;
  font-size: 1em;
  border-bottom: 1px solid grey;
}

h1 {
  font-size: 0.8em;
  margin-left: 3.8em;
}

h2 {
  font-size: 0.8em;
  margin-bottom: 2em;
}

h3 {
  font-size: 0.8em;
  font-weight: lighter
}

.high {
  position: absolute;
  transform: scaleX(0);
  bottom: 0;
  background-color: red;
}

.input-field input:focus~.high {
  transition: 1s;
  height: 2px;
  width: 100%;
  transform: scaleX(1);
}

.outline {
  outline: none;
}

@media only screen and (max-width: 765px) {

  .checkout-page-title {
    margin-top: 0em;
    width: 98%;
  }

  .customer-information {
    width: 100%;
  }

  .customer-information div {
    margin: 2em 0%;
    margin-bottom: 0%;
  }

  .billing-addresss-checkbox input {
    margin-top: 2em;
  }

  .payment-details {
    width: 100%;
  }

  .payment-details>div {
    margin: 4em 0% 2em 0%;
  }

  .button {
    background: blue;
    width: 100%;
    font-size: 1.5em;
    border: 0;
    color: white;
    position: fixed;
    bottom: 0%;
    padding: 1.5%;
    left: 0%;
  }

  .checkout-btn {
    width: 0%;
    margin-left: 0%;
  }

  .input-field {
    width: 100%;
  }

  h1 {
    margin: 2em 0% 0% 0%;
  }

  h2 {
    margin-bottom: 1em;
  }

}

@media only screen and (max-width: 950px)and (min-width:765px) {
  .checkout-section {
    margin: 0%;
  }

}