.product-description-section {
    display: flex;
    width: 100%;
    margin: 8% 0% 0% 0%;
    font-size: 0.9em;
}


.back-arrow{
    margin: 0% 3% 0% 0%;
}

.product-image {
    width: 50%;
    text-align: center;
    object-fit: cover;
}


.product-details {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: gray;
    text-align: justify;
}

.product-details > div {
    margin: 2%;
    width: 80%;
}

.product-name {
    font-size: 1.6em;
    color: black;
}

.product-prize {
    font-size: 1em;
}

.product-size,
.product-quantity {
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    width: 100%;
    align-items: center;
    border-bottom: 2px solid black;
}

.product-size div{
    width: 20%;
}
.product-quantity div {
    width: 20%;
}


select {
    border: 0;
    background: transparent;
    width: 80%;
    padding: 2%;
    font-size: 1em;
}

.product-description div {
    margin-bottom: 2%;
}

.product-description-heading {
    color: black;
}

.button {
    background: transparent;
    padding: 1%;
    width: 40%;
    font-size: 1em;
    text-align: center;
    border: 2px solid black;
}

.outline {
    outline: 0;
}

@media only screen and (max-width: 700px) {


    .product-description-section {
        display: flex;
        width: 100%;
        flex-direction: column;
        text-align: center;
        margin: 0% 0% 8% 0%;
    }

    .product-image {
        width: 100%;
    }


    .product-details {
        margin: 8% 0% 0% 0%;
        width: 100%;
    }


    .product-details>div {
        width: 98%;
        margin: 1%;
    }

    .button {
        background: blue;
        width: 100%;
        font-size: 1.5em;
        border: 0;
        color: white;
        position: fixed;
        bottom: 0%;
        margin-left: -1.5%;
        padding: 2%
    }
}