.header {
    display: flex;
    margin: 2% 0% 2% 0%;
    text-align: center;
    justify-content: space-between;

}

.shopping-cart {
    margin: 0% 5% 0% 0%;
}

.header-title {
    width: 95%;
    left: 50%;
}

nav {
    display: flex;
    margin: 2% 20% 2% 20%;
    font-size: 0.9em;
    justify-content: space-between;

}

a {
    text-decoration: none;
    color: black;
}

.menu-button {
    display: none;
}

.mens-outerwear-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ladies-outerwear-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.men-outwear,
.ladies-outwear,
.mens-tshirt,
.ladies-tshirt {
    margin: 2%;
}

.category-page-link {
    border: 2px solid black;
    margin: 0% 0% 2% 0%;

}

.t-shirt-section {
    display: flex;
    margin: 0% 6% 0% 6%;
}

.t-shirt-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mens-tshirt-section img,
.ladies-tshirt-section img,
.ladies-outerwear-section img,
.mens-outerwear-section img {
    height: 200px;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
    nav {
        display: flex;
        font-size: 0.7em;
        justify-content: space-between;
    }

    .menu-button {
        display: none;
    }

}


@media only screen and (max-width: 600px) and (min-width: 150px) {
    nav {
        display: none;
    }

    .menu-button {
        display: flex;
        margin: 0% 0% 0% 2%;
    }

    .body {
        width: 100%;
    }
}

body {
    max-width: 1024px;
    margin: 0 auto;
    float: none;
}